* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
}

.tunnel {
  position: relative;
  width: 100px;
  height: 100px;
}

.frame {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(40, 255, 212);
  outline: none;
  position: absolute;
  background-color: transparent;
  filter: hue-rotate(calc(24deg * var(--i)));
  transform-style: preserve-3d;
  animation-name: move;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc(1s * var(--i) - 30s);
}

@keyframes move {
  /* 0s */
  0% {
    transform: perspective(1000px) translateZ(0px) rotate(0deg);
  }
  /* 5s */
  100% {
    transform: perspective(1000px) translateZ(1000px) rotate(180deg);
  }
}
