* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
}

.menus {
  position: relative;
  width: 100px;
  height: 100px;
}

button {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 247, 255);
  outline: none;
  position: absolute;
  background-color: transparent;
  filter: hue-rotate(calc(24deg * var(--i)));
  transform-style: preserve-3d;
  animation-name: count;
  animation-duration: 20s;
  animation-timing-function: ease-in;
  animation-delay: calc(1s * var(--i) - 20s);
  animation-iteration-count: infinite;
  /* animation-fill-mode: both; */
}

@keyframes count {
  /* 0s */
  0% {
    transform: perspective(1000px) translateZ(0px) rotate(0deg);
  }
  /* 5s */
  100% {
    transform: perspective(1000px) translateZ(1000px) rotate(130deg);
  }
}
